
.section {
    padding-top: 60px;
    padding-bottom: 120px;
    background-color: #fff;
    background-repeat: no-repeat;

    &_face {
        background-image: url("../media/section/face.jpg");
        background-position: center top;
    }

    &_info {
        background-image: url("../media/section/info.jpg");
        background-position: center;
    }
}

@media (max-width: 1440px) {
    .section {
        padding-top: 40px;
        padding-bottom: 40px;

        &_face {
            padding-bottom: 675px;
            background-image: url("../media/section/face-1440.jpg");
            background-position: center bottom;
            background-color: #e72041;
        }

        &_info {
            padding-bottom: 120px;
        }
    }
}

@media (max-width: 768px) {
    .section {
        padding-top: 30px;
        padding-bottom: 30px;

        &_face {
            padding-bottom: 500px;
            background-image: url("../media/section/face-768.jpg");
        }

        &_info {
            padding-bottom: 400px;
            background-image: url("../media/section/info-768.jpg");
            background-position: left bottom;
        }
    }

    .section__title {
        font-size: 38px;
    }
}

@media (max-width: 480px) {
    .section {
        &_info {
            padding-bottom: 55%;
            background-size: contain;
        }
    }
}
