<section class="section section_commits">
    <div class="container">
        <div class="commits">
            <div class="commits__title">Отзывы клиентов</div>
            <div class="commits__box owl-carousel js-commits__box">
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/face-2.jpg" alt=""></div>
                    <div class="commits__name">Леонид, 65 лет</div>
                    <div class="commits__description">Я боролся с гипертонией лет 10, наверно. Препараты я принимал самые разные, но далеко не все из них эффективно снижали давление. Teccardin мне посоветовал один знакомый, ему в свое время это средство помогло. Заказывал Teccardin на официальном сайте, все пришло вовремя, в хорошей упаковке. Уже два месяца про повышенное давление даже не вспоминаю, за что спасибо Teccardin!</div>
                    <div class="commits__stars">
                        <img src="../media/commits/stars.png" alt="">
                    </div>
                </div>
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/face-1.jpg" alt=""></div>
                    <div class="commits__name">Анна, 48 лет</span></div>
                    <div class="commits__description">У меня стандартное давление было 150/100, и никакие средства мне не помогали скорректировать ситуацию надолго. Пока пьешь лекарства – все отлично, давление как у космонавта. А как только бросаешь, все возвращается на круги своя. Если честно, я думала, что мне уже ничего не поможет, пока в мои руки не попал Teccardin. Я пропила полный курс этого препарата уже больше полугода назад, с тех пор давление в покое не поднимается выше 130/90. Для меня это просто чудо.</div>
                    <div class="commits__stars">
                        <img src="../media/commits/stars.png" alt="">
                    </div>
                </div>
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/face-3.jpg" alt=""></div>
                    <div class="commits__name">Захар, 58 лет</div>
                    <div class="commits__description">Teccardin – это настоящая находка для гипертоников! Каждый страдающий от этой болезни знает, насколько трудно подобрать средство для лечения артериальной гипертонии. И это несмотря на то, что полки аптек просто ломятся от различных средств. Кому не хочется испытывать на себе что попало, рекомендую Teccardin. Он действует плавно, очень хорошо снижает давление. Никаких побочных реакций не возникает. Теперь спасаюсь только этим средством.</div>
                    <div class="commits__stars">
                        <img src="../media/commits/stars.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>