<section class="section section_complications">
    <div class="container">
        <div class="complications">
            <h2 class="complications__title">Осложнения гипертонии</h2>
            <div class="complications__description">Повышенное давление неизбежно изнашивает стенки артерий, они становятся более хрупкими и склонными к разрыву. Это чревато обильным внутренним кровотечением и скорой смертью. А ломкость сосудов мозга может привести к инсульту.</div>
            <div class="complications__subtitle">Уменьшается приток крови и кислорода к тканям сердца, из-за чего могут возникнуть:</div>
            <div class="complications__box">
                <div class="complications__item">
                    <div class="complications__body">
                        <div class="complications__text"><span>Сильная боль</span> в груди – стенокардия</div>
                    </div>
                </div>
                <div class="complications__item">
                    <div class="complications__body">
                        <div class="complications__text"><span>Инфаркт</span> миокарда</div>
                    </div>
                </div>
                <div class="complications__item">
                    <div class="complications__body">
                        <div class="complications__text"><span>Сердечная</span> недостаточность</div>
                    </div>
                </div>
                <div class="complications__item">
                    <div class="complications__body">
                        <div class="complications__text">Сердечная аритмия, которая может стать причиной внезапной смерти</div>
                    </div>
                </div>
            </div>
            <div class="complications__info">Не откладывайте лечение на завтра.<mark>Завтра уже может быть поздно!</ь>
            </div>
        </div>
    </div>
</section>