<section class="section section_event">
    <div class="container">
        <div class="event">
            <h2 class="event__title">Действие Teccardin</h2>
            <div class="event__box">
                <div class="event__item">
                    <div class="event__body">
                        <div class="event__text">Снижает давление до нормальных показателей в течение первых часов</div>
                    </div>
                </div>
                <div class="event__item">
                    <div class="event__body">
                        <div class="event__text">Устраняет спазм сосудов, артериол и артерий</div>
                    </div>
                </div>
                <div class="event__item">
                    <div class="event__body">
                        <div class="event__text">Разжижает кровь, препятствуя образованию тромбов</div>
                    </div>
                </div>
                <div class="event__item">
                    <div class="event__body">
                        <div class="event__text">Улучшает кровообращение</div>
                    </div>
                </div>
                <div class="event__item">
                    <div class="event__body">
                        <div class="event__text">Способствует более активному снабжению кислородом тканей и органов</div>
                    </div>
                </div> 
                <div class="event__item">
                    <div class="event__body">
                        <div class="event__text">Нормализует сердечный ритм, борется с аритмией</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>