<section class="section section_fight">
    <div class="container">
        <div class="fight">
            <h2 class="fight__title">Teccardin – борется с причиной, а не следствием</h2>
            <div class="fight__subtitle">Это препарат растительного происхождения, который нейтрализует 4 главных фактора развития гипертонической болезни:</div>
            <div class="fight__box">
                <div class="fight__item">
                    <div class="fight__body">
                        <div class="fight__text">Стрессы и психоэмоциональное напряжение</div>
                        <div class="fight__description">Снижает выработку адреналина и норадреналина – главных гормонов стресса</div>
                    </div>
                </div>
                <div class="fight__item">
                    <div class="fight__body">
                        <div class="fight__text">Избыточная масса тела</div>
                        <div class="fight__description">Улучшает обмен веществ, способствуя нормализации веса</div>
                    </div>
                </div>
                <div class="fight__item">
                    <div class="fight__body">
                        <div class="fight__text">Избыток глюкозы</div>
                        <div class="fight__description">Помогает контролировать уровень сахара в крови</div>
                    </div>
                </div>
                <div class="fight__item">
                    <div class="fight__body">
                        <div class="fight__text">Атеросклероз</div>
                        <div class="fight__description">Очищает сосуды от шлаков и холестериновых бляшек</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>