<section class="section section_info">
    <div class="container">
        <div class="info">
            <h2 class="info__title">А вы знали?</h2>
            <div class="info__item"><p><mark>Кровяное давление</mark> – это та сила, с которой циркулирующая кровь воздействует на стенки артерий – самых крупных и важных кровеносных сосудов в организме.</p></div>
            <div class="info__item"><p><mark>Гипертония</mark> – состояние, при котором кровяное давление чрезмерно повышается. Этот диагноз ставится в том случае, когда давление превышает 140/90 мм рт. ст.</p></div>
        </div>
    </div>
</section>