<section class="section section_professional">
    <div class="section__professional-media"></div>
    <div class="container">
        <div class="professional">
            <div class="professional__title">Мнение врача</div>
            <p>Относительно гипертонии существует убеждение, что от нее нельзя избавиться полностью, можно лишь контролировать. Но это не так. Современные препараты позволяют устранить самую главную причину гипертонии – проблему с сосудами – их повышенную ломкость, зашлакованность и атеросклероз.</p>
            <p>Например, такое средство, как Teccardin, показывает отличные результаты. Мои пациенты избавляются от гипертонии в самые короткие сроки благодаря этому препарату. Он очищает сосуды, возвращает им тонус и снижает уровень холестерина и сахара в крови.</p>
            <div class="professional__footer">
                <div class="professional__name">Михаил Георгиев, <span>врач-кардиолог, стаж работы – 17 лет</span></div>
                <div class="professional__media"><img src="../media/professional/id.png" alt=""></div>
            </div>
        </div>
    </div>
</section>