<section class="section section_signs">
    <div class="container">
        <div class="signs">
            <h2 class="signs__title">Как распознать <mark>гипертонию?</mark></h2>
            <div class="signs__body">
                <div class="signs__item">
                    <div class="signs__container">
                        <div class="signs__border">
                            <div class="signs__media"><img src="../media/signs/img-1.jpg" alt=""></div>
                        </div>
                        <div class="signs__description">Головные боли в ранние <span>утренние часы</span></div>
                    </div>
                </div>
                <div class="signs__item">
                    <div class="signs__container">
                        <div class="signs__border">
                            <div class="signs__media"><img src="../media/signs/img-2.jpg" alt=""></div>
                        </div>
                        <div class="signs__description">Кровотечения <span>из носа</span></div>
                    </div>
                </div>
                <div class="signs__item">
                    <div class="signs__container">
                        <div class="signs__border">
                            <div class="signs__media"><img src="../media/signs/img-3.jpg" alt=""></div>
                        </div>
                        <div class="signs__description">Нарушения <span>сердечного ритма</span></div>
                    </div>
                </div>
                <div class="signs__item">
                    <div class="signs__container">
                        <div class="signs__border">
                            <div class="signs__media"><img src="../media/signs/img-4.jpg" alt=""></div>
                        </div>
                        <div class="signs__description">Ухудшение <span>зрения</span></div>
                    </div>
                </div>
                <div class="signs__item">
                    <div class="signs__container">
                        <div class="signs__border">
                            <div class="signs__media"><img src="../media/signs/img-5.jpg" alt=""></div>
                        </div>
                        <div class="signs__description">Звон <span>в ушах</span></div>
                    </div>
                </div>
                <div class="signs__item">
                    <div class="signs__container">
                        <div class="signs__border">
                            <div class="signs__media"><img src="../media/signs/img-6.jpg" alt=""></div>
                        </div>
                        <div class="signs__description">Слабость, тошнота, <span>рвота</span></div>
                    </div>
                </div>
                <div class="signs__item">
                    <div class="signs__container">
                        <div class="signs__border">
                            <div class="signs__media"><img src="../media/signs/img-7.jpg" alt=""></div>
                        </div>
                        <div class="signs__description">Спутанность <span>сознания</span></div>
                    </div>
                </div>
                <div class="signs__item">
                    <div class="signs__container">
                        <div class="signs__border">
                            <div class="signs__media"><img src="../media/signs/img-8.jpg" alt=""></div>
                        </div>
                        <div class="signs__description">Внутреннее <span>напряжение</span></div>
                    </div>
                </div>
                <div class="signs__item">
                    <div class="signs__container">
                        <div class="signs__border">
                            <div class="signs__media"><img src="../media/signs/img-9.jpg" alt=""></div>
                        </div>
                        <div class="signs__description">Боли <span>в груди</span></div>
                    </div>
                </div>
                <div class="signs__item">
                    <div class="signs__container">
                        <div class="signs__border">
                            <div class="signs__media"><img src="../media/signs/img-10.jpg" alt=""></div>
                        </div>
                        <div class="signs__description">Мышечный <span>тремор</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>