<section class="section section_table">
    <div class="container">
        <div class="table">
            <h2 class="table__title">Клинические исследования Teccardin</h2>
            <div class="table__subtitle">В 2020 году НИИ здоровья сердца и сосудов провел клинические испытания Teccardin на 2398 добровольцев различного возраста. Испытуемых разделили на две группы: первая, тестовая, получала аптечные препараты, а вторая – Teccardin. В результате были получены следующие данные:</div>
            <div class="table__body">
                <div class="table__body-row">
                    <div class="table__body-col"></div>
                    <div class="table__body-col"><p>Аптечные препараты</p></div>
                    <div class="table__body-col"><p>Teccardin</p></div>
                    <div class="table__body-col"></div>
                </div>
                <div class="table__body-row">
                    <div class="table__body-col"><p>Стабилизация АД в пределах возрастной нормы в течение <span>нескольких часов после первого применения</span></p></div>
                    <div class="table__body-col"><p>46%</p></div>
                    <div class="table__body-col"><p>93%</p></div>
                    <div class="table__body-col"></div>
                </div>
                <div class="table__body-row">
                    <div class="table__body-col"><p>Отсутствие признаков гипертонии в течение <span>двух недель после курсового приема</span></p></div>
                    <div class="table__body-col"><p>27%</p></div>
                    <div class="table__body-col"><p>86%</p></div>
                    <div class="table__body-col"></div>
                </div>
                <div class="table__body-row">
                    <div class="table__body-col"><p>Отсутствие приступов гипертонии в течение полугода <span>после окончания курсового приема</span></p></div>
                    <div class="table__body-col"><p>12%</p></div>
                    <div class="table__body-col"><p>82%</p></div>
                    <div class="table__body-col"></div>
                </div>
            </div>
        </div>
    </div>
</section>