
.form {
    width: 100%;
    max-width: 350px;
    padding: 30px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    margin-left: auto;
}

.form__title {
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.form__price {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    text-align: center;
}

.form__price-old {
    display: inline-block;
    font-size: 18px;
    color: #898989;
    margin-right: 15px;
    font-weight: 300;
    text-decoration: line-through;
}

.form__price-new {
    display: inline-block;
    font-size: 28px;
    font-weight: 700;
    color: #f02626;
    text-transform: uppercase;
    line-height: 1;
}

.form__label {
    display: block;

    & + & {
        margin-top: 15px;
    }
}

.form__label-name {
    margin-bottom: 5px;
    color: #737373;
}

.form__field {
    width: 100%;
    background-color: #f8f8f8;
    border: 0;
    outline: none;
    padding: 15px;
    font-weight: 300;
    font-size: 18px;
    border-radius: 42px;
    border: 1px solid #C7C7C7;
}

.form__select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("../media/form/arrow.png");
    background-repeat: no-repeat;
    background-position: calc(100% - 20px) center;
    background-size: 15px;
}

.form__time {
    margin-top: 30px;
    max-width: 320px;
    margin-right: auto;
    margin-left: auto;
}

.form__time-title {
    margin-bottom: 5px;
    text-align: center;
    color: #737373;
    font-size: 18px;
}

.form__time-body {
    display: flex;
    margin-bottom: 30px;
}

.form__time-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 0;
    border: 1px solid #f1f1f1;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 25px;
    padding: 0 10px;

    & span {
        &:nth-child(1) {
            font-size: 40px;
            font-weight: 700;
            color: #f02626;
        }

        &:nth-child(2) {
            position: absolute;
            bottom: -25px;
            color: #000;
        }
    }
}

.form__btn {
    width: 100%;
}

@media (max-width: 1310px) {
    .form {
        max-width: 300px;
        padding: 20px;
    }

    .form__title {
        font-size: 24px;
    }
}

@media (max-width: 768px) {
    .form {
        padding: 30px;
        max-width: 100%;
    }

    .form__title  {
        font-size: 33px;
    }

    .form__price {
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .form__time-item {
        margin-right: 5px;
        margin-left: 5px;
        & span {
            &:nth-child(1) {
                font-size: 32px;
            }
        }
    }

    .form__title {
        max-width: 270px;
        margin-right: auto;
        margin-left: auto;
    }
}